[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1M_KZ1X6-YQnxc2CJAG4fhNrBlmFFTU_X?usp=sharing)

In [2]:
! git clone https://jr1025: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@github.com/pinellolab/screen.git
! cd ./screen; pip3 install -e .

Cloning into 'screen'...
remote: Enumerating objects: 912, done.
remote: Counting objects: 100% (64/64), done.
remote: Compressing objects: 100% (48/48), done.
remote: Total 912 (delta 29), reused 37 (delta 15), pack-reused 848
Receiving objects: 100% (912/912), 41.93 MiB | 18.97 MiB/s, done.
Resolving deltas: 100% (458/458), done.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Obtaining file:///content/screen
Collecting matplotlib>=3.4
  Downloading matplotlib-3.5.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     |████████████████████████████████| 11.2 MB 16.5 MB/s
Collecting anndata>=0.7.1
  Downloading anndata-0.8.0-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 4.9 MB/s
Requirement already satisfied: numpy>=1.19.2 in /usr/local/lib/python3.7/dist-packages (from perturb-tools==0.0.11) (1.21.6)
Requirement already satisfied: pandas>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from perturb-tools==0.0.11) (1.3.5)
Collecting biopython>=1.79
  Downloading biopython-1.79-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (2.3 MB)
     |████████████████████████████████| 2.3 MB 17.6 MB/s
Collecting pool-sharq>=0.0.12
  Downloading pool_sharq-0.0.12-py3-none-any.whl (7.8 kB)
Requirement already satisfied: scipy>1.4 in /usr/local/lib/python3.7/dist-packages (from anndata>=0.7.1->perturb-tools==0.0.11) (1.4.1)
Requirement already satisfied: h5py>=3 in /usr/local/lib/python3.7/dist-packages (from anndata>=0.7.1->perturb-tools==0.0.11) (3.1.0)
Requirement already satisfied: packaging>=20 in /usr/local/lib/python3.7/dist-packages (from anndata>=0.7.1->perturb-tools==0.0.11) (21.3)
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.7/dist-packages (from anndata>=0.7.1->perturb-tools==0.0.11) (4.2.0)
Requirement already satisfied: natsort in /usr/local/lib/python3.7/dist-packages (from anndata>=0.7.1->perturb-tools==0.0.11) (5.5.0)
Requirement already satisfied: importlib_metadata>=0.7 in /usr/local/lib/python3.7/dist-packages (from anndata>=0.7.1->perturb-tools==0.0.11) (4.11.4)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=3->anndata>=0.7.1->perturb-tools==0.0.11) (1.5.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib_metadata>=0.7->anndata>=0.7.1->perturb-tools==0.0.11) (3.8.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->perturb-tools==0.0.11) (7.1.2)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.33.3-py3-none-any.whl (930 kB)
     |████████████████████████████████| 930 kB 38.7 MB/s
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->perturb-tools==0.0.11) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->perturb-tools==0.0.11) (1.4.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->perturb-tools==0.0.11) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->perturb-tools==0.0.11) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.2->perturb-tools==0.0.11) (2022.1)
Collecting pyrequisites>=0.0.2
  Downloading pyrequisites-0.0.2-py3-none-any.whl (4.1 kB)
Collecting licorice>=0.0.2
  Downloading licorice-0.0.3-py3-none-any.whl (8.1 kB)
Collecting beautifulsoup4>=4.10.0
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     |████████████████████████████████| 128 kB 54.5 MB/s
Collecting requests>=2.26.0
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.9 MB/s
Requirement already satisfied: tqdm>=4.62.3 in /usr/local/lib/python3.7/dist-packages (from pool-sharq>=0.0.12->perturb-tools==0.0.11) (4.64.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.7/dist-packages (from beautifulsoup4>=4.10.0->pool-sharq>=0.0.12->perturb-tools==0.0.11) (2.3.2.post1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib>=3.4->perturb-tools==0.0.11) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26.0->pool-sharq>=0.0.12->perturb-tools==0.0.11) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26.0->pool-sharq>=0.0.12->perturb-tools==0.0.11) (2022.5.18.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26.0->pool-sharq>=0.0.12->perturb-tools==0.0.11) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26.0->pool-sharq>=0.0.12->perturb-tools==0.0.11) (1.24.3)
Installing collected packages: licorice, requests, pyrequisites, fonttools, beautifulsoup4, pool-sharq, matplotlib, biopython, anndata, perturb-tools
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
  Running setup.py develop for perturb-tools
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed anndata-0.8.0 beautifulsoup4-4.11.1 biopython-1.79 fonttools-4.33.3 licorice-0.0.3 matplotlib-3.5.2 perturb-tools-0.0.11 pool-sharq-0.0.12 pyrequisites-0.0.2 requests-2.27.1

In [4]:
import sys
sys.path.insert(0, "/content/screen")

In [6]:
import pandas as pd
import anndata as ad
import perturb_tools as pt

Download [TKO](http://tko.ccbr.utoronto.ca/) HeLa data.

In [7]:
! wget http://tko.ccbr.utoronto.ca/Data/readcount-HeLa-lib1.gz
! wget http://tko.ccbr.utoronto.ca/Data/readcount-HeLa-lib2.gz
! gunzip readcount-HeLa-lib1.gz
! gunzip readcount-HeLa-lib2.gz

--2022-06-01 22:05:02--  http://tko.ccbr.utoronto.ca/Data/readcount-HeLa-lib1.gz
Resolving tko.ccbr.utoronto.ca (tko.ccbr.utoronto.ca)... 142.150.76.126
Connecting to tko.ccbr.utoronto.ca (tko.ccbr.utoronto.ca)|142.150.76.126|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2877516 (2.7M) [application/x-gzip]
Saving to: ‘readcount-HeLa-lib1.gz’

readcount-HeLa-lib1 100%[===================>]   2.74M  1.90MB/s    in 1.4s

2022-06-01 22:05:04 (1.90 MB/s) - ‘readcount-HeLa-lib1.gz’ saved [2877516/2877516]

--2022-06-01 22:05:04--  http://tko.ccbr.utoronto.ca/Data/readcount-HeLa-lib2.gz
Resolving tko.ccbr.utoronto.ca (tko.ccbr.utoronto.ca)... 142.150.76.126
Connecting to tko.ccbr.utoronto.ca (tko.ccbr.utoronto.ca)|142.150.76.126|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2680113 (2.6M) [application/x-gzip]
Saving to: ‘readcount-HeLa-lib2.gz’

readcount-HeLa-lib2 100%[===================>]   2.56M  3.15MB/s    in 0.8s

2022-06-01 22:05:06 (3.15 MB/s) - ‘readcount-HeLa-lib2.gz’ saved [2680113/2680113]

In [8]:
! head readcount-HeLa-lib1

GENE_CLONE	GENE	T08A	T08B	T08C	T12A	T12B	T12C	T15A	T15B	T15C	T18A	T18B	T18C	T0
A1BG_CACCTTCGAGCTGCTGCGCG	A1BG	310	226	338	356	249	224	186	60	296	125	49	296	469
A1BG_AAGAGCGCCTCGGTCCCAGC	A1BG	46	1	0	7	22	142	0	1	52	0	1	52	213
A1BG_TGGACTTCCAGCTACGGCGC	A1BG	239	216	285	117	244	116	172	298	269	119	250	269	363
A1BG_CACTGGCGCCATCGAGAGCC	A1BG	289	83	166	164	111	14	184	160	214	122	137	214	678
A1BG_GCTCGGGCTTGTCCACAGGA	A1BG	205	34	217	205	148	355	326	100	432	212	85	432	559
A1BG_CAAGAGAAAGACCACGAGCA	A1BG	389	331	468	1074	364	158	664	286	499	464	235	499	647
A1CF_CGTGGCTATTTGGCATACAC	A1CF	452	240	390	630	509	261	471	255	301	322	210	301	898
A1CF_GGTATACTCTCCTTGCAGCA	A1CF	71	30	29	119	155	153	131	76	56	94	61	56	199
A1CF_GACATGGTATTGCAGTAGAC	A1CF	207	227	223	118	141	173	176	198	42	118	166	42	271

In [9]:
tbl = pd.read_csv("readcount-HeLa-lib1", sep = "\t")
tbl2 = pd.read_csv("readcount-HeLa-lib2", sep = "\t")

In [10]:
def make_screen(tbl):
  tbl = tbl.rename(columns={"GENE_CLONE":"name"})
  sample_df = pd.DataFrame(tbl.columns[2:]).rename(columns={0:"index"}).set_index("index")
  sample_df["replicate"] = sample_df.index.str[-1]
  sample_df["time"] = sample_df.index.str[1:-1].map(lambda s: int(s) if s else -1)
  return pt.Screen(X=tbl.values[:,2:], guides=tbl.iloc[:,:2], 
                   condit=sample_df)

In [11]:
adata = make_screen(tbl)
bdata = make_screen(tbl2)

/content/screen/perturb_tools/_framework/_ScreenModule.py:30: FutureWarning: X.dtype being converted to np.float32 from object. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  super().__init__(X, obs = guides, var = condit, *args, **kwargs)
/usr/local/lib/python3.7/dist-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [12]:
adata.guides

                                  name        GENE
0            A1BG_CACCTTCGAGCTGCTGCGCG        A1BG
1            A1BG_AAGAGCGCCTCGGTCCCAGC        A1BG
2            A1BG_TGGACTTCCAGCTACGGCGC        A1BG
3            A1BG_CACTGGCGCCATCGAGAGCC        A1BG
4            A1BG_GCTCGGGCTTGTCCACAGGA        A1BG
...                                ...         ...
91315  luciferase_CCTCTAGAGGATGGAACCGC  luciferase
91316  luciferase_ACAACTTTACCGACCGCGCC  luciferase
91317  luciferase_CTTGTCGTATCCCTGGAAGA  luciferase
91318  luciferase_GGCTATGAAGAGATACGCCC  luciferase
91319  luciferase_GGCATGCGAGAATCTGACGC  luciferase

[91320 rows x 2 columns]

In [13]:
adata.condit

      replicate  time
index
T08A          A     8
T08B          B     8
T08C          C     8
T12A          A    12
T12B          B    12
T12C          C    12
T15A          A    15
T15B          B    15
T15C          C    15
T18A          A    18
T18B          B    18
T18C          C    18
T0            0    -1

### Slicing

In [14]:
adata_cut = adata[adata.guides.GENE == "A1BG", :]
adata_cut

Genome Editing Screen comprised of n_guides x n_conditions = 6 x 13
   guides:    'name', 'GENE'
   condit:    'replicate', 'time'
   condit_m:
   condit_p:
   layers:
   uns:

In [15]:
adata_t8 = adata[:, adata.condit.time == 8]
adata_t8

Genome Editing Screen comprised of n_guides x n_conditions = 91320 x 3
   guides:    'name', 'GENE'
   condit:    'replicate', 'time'
   condit_m:
   condit_p:
   layers:
   uns:

### Writing

In [16]:
adata.write("HeLa_lib1.h5ad")

In [17]:
adata_ann = ad.read_h5ad("HeLa_lib1.h5ad")
adata_pt = pt.Screen.from_adata(adata_ann)

Compatible with .h5ad file output of AnnData.

In [18]:
adata = pt._framework._ScreenModule.read_h5ad("HeLa_lib1.h5ad")

## Arithmetic

### Adding
If the guide and conditions are exactly the same, objects can be added (ex. technical replicates).

In [19]:
adata + adata

Genome Editing Screen comprised of n_guides x n_conditions = 91320 x 13
   guides:    'name', 'GENE'
   condit:    'replicate', 'time'
   condit_m:
   condit_p:
   layers:
   uns:

### Concatenating
Biological replicates can be concatenated along 'condit' axis.

In [20]:
pt.concat((adata, adata))

/usr/local/lib/python3.7/dist-packages/anndata/_core/anndata.py:1828: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

Genome Editing Screen comprised of n_guides x n_conditions = 182640 x 13
   guides:    'name', 'GENE'
   condit:
   condit_m:
   condit_p:
   layers:
   uns:

## Normalization & LFC calculation

In [21]:
adata.log_norm()
adata

Genome Editing Screen comprised of n_guides x n_conditions = 91320 x 13
   guides:    'name', 'GENE'
   condit:    'replicate', 'time'
   condit_m:
   condit_p:
   layers:    'lognorm_counts'
   uns:

In [22]:
adata.layers['lognorm_counts']

array([[3.8361688 , 3.723453  , 4.3636794 , ..., 2.0999844 , 4.0123653 ,
        3.575257  ],
       [1.5709194 , 0.0759054 , 0.        , ..., 0.09367192, 1.8715795 ,
        2.5751176 ],
       [3.4906108 , 3.6632092 , 4.1305914 , ..., 4.1514244 , 3.8833196 ,
        3.2405565 ],
       ...,
       [4.508811  , 4.7482824 , 3.942206  , ..., 4.536323  , 4.374373  ,
        3.8255777 ],
       [2.3662837 , 1.8879594 , 0.65947205, ..., 1.5252234 , 1.1218393 ,
        0.0974056 ],
       [2.292497  , 2.8505118 , 3.0931478 , ..., 2.6084018 , 2.835301  ,
        3.3334548 ]], dtype=float32)

Calculating the LFC between T=18 vs T=8

In [23]:
adata.log_fold_change("T18A", "T08A")

In [24]:
adata.guides

                                  name        GENE  T18A_T08A.lfc
0            A1BG_CACCTTCGAGCTGCTGCGCG        A1BG      -0.341631
1            A1BG_AAGAGCGCCTCGGTCCCAGC        A1BG      -1.570919
2            A1BG_TGGACTTCCAGCTACGGCGC        A1BG      -0.060601
3            A1BG_CACTGGCGCCATCGAGAGCC        A1BG      -0.279657
4            A1BG_GCTCGGGCTTGTCCACAGGA        A1BG       0.912809
...                                ...         ...            ...
91315  luciferase_CCTCTAGAGGATGGAACCGC  luciferase       0.946176
91316  luciferase_ACAACTTTACCGACCGCGCC  luciferase       0.848200
91317  luciferase_CTTGTCGTATCCCTGGAAGA  luciferase       0.026325
91318  luciferase_GGCTATGAAGAGATACGCCC  luciferase      -1.009472
91319  luciferase_GGCATGCGAGAATCTGACGC  luciferase      -1.882514

[91320 rows x 3 columns]

Calculating the T=18 vs T=8 across all replicates

In [25]:
adata_t = adata[:, adata.condit.replicate != "0"]

In [27]:
adata_t.log_fold_change_reps(18, 8, rep_condit="replicate", compare_condit="time")

       A.18_8.lfc  B.18_8.lfc  C.18_8.lfc
0       -0.341631   -1.623469   -0.351314
1       -1.570919    0.017767    1.871580
2       -0.060601    0.488215   -0.247272
3       -0.279657    0.893938    0.169553
4        0.912809    1.240354    0.766471
...           ...         ...         ...
91315    0.946176    0.096584    0.677010
91316    0.848200    2.029430    0.480280
91317    0.026325   -0.211959    0.432167
91318   -1.009472   -0.362736    0.462367
91319   -1.882514   -0.242110   -0.257847

[91320 rows x 3 columns]

Aggregate the LFCs based on `aggregate_fn [median, mean, sd]`.

In [29]:
adata_t.log_fold_change_aggregate(8, 18, aggregate_condit="replicate", compare_condit="time", aggregate_fn = "median")

In [31]:
adata_t.guides

,name,GENE,T18A_T08A.lfc,8_18.lfc.median
0,A1BG_CACCTTCGAGCTGCTGCGCG,A1BG,-0.341631,0.351314
1,A1BG_AAGAGCGCCTCGGTCCCAGC,A1BG,-1.570919,-0.017767
2,A1BG_TGGACTTCCAGCTACGGCGC,A1BG,-0.060601,0.060601
3,A1BG_CACTGGCGCCATCGAGAGCC,A1BG,-0.279657,-0.169553
4,A1BG_GCTCGGGCTTGTCCACAGGA,A1BG,0.912809,-0.912809
...,...,...,...,...
91315,luciferase_CCTCTAGAGGATGGAACCGC,luciferase,0.946176,-0.677010
91316,luciferase_ACAACTTTACCGACCGCGCC,luciferase,0.848200,-0.848200
91317,luciferase_CTTGTCGTATCCCTGGAAGA,luciferase,0.026325,-0.026325
91318,luciferase_GGCTATGAAGAGATACGCCC,luciferase,-1.009472,0.362736
91319,luciferase_GGCATGCGAGAATCTGACGC,luciferase,-1.882514,0.257847

# Writing

In [30]:
adata.to_Excel("Hela_lib1.xlsx")

Writing to: Hela_lib1.xlsx

	Sheet 1:	X
	Sheet 2:	lognorm_counts
	Sheet 3:	guides
	Sheet 4:	condit

In [33]:
adata.to_mageck_input("Hela_mageck_input.txt", target_column="GENE")

In [34]:
! head Hela_mageck_input.txt

sgRNA	gene	T08A	T08B	T08C	T12A	T12B	T12C	T15A	T15B	T15C	T18A	T18B	T18C	T0
A1BG_CACCTTCGAGCTGCTGCGCG	A1BG	310	226	338	356	249	224	186	60	296	125	49	296	469
A1BG_AAGAGCGCCTCGGTCCCAGC	A1BG	46	1	0	7	22	142	0	1	52	0	1	52	213
A1BG_TGGACTTCCAGCTACGGCGC	A1BG	239	216	285	117	244	116	172	298	269	119	250	269	363
A1BG_CACTGGCGCCATCGAGAGCC	A1BG	289	83	166	164	111	14	184	160	214	122	137	214	678
A1BG_GCTCGGGCTTGTCCACAGGA	A1BG	205	34	217	205	148	355	326	100	432	212	85	432	559
A1BG_CAAGAGAAAGACCACGAGCA	A1BG	389	331	468	1074	364	158	664	286	499	464	235	499	647
A1CF_CGTGGCTATTTGGCATACAC	A1CF	452	240	390	630	509	261	471	255	301	322	210	301	898
A1CF_GGTATACTCTCCTTGCAGCA	A1CF	71	30	29	119	155	153	131	76	56	94	61	56	199
A1CF_GACATGGTATTGCAGTAGAC	A1CF	207	227	223	118	141	173	176	198	42	118	166	42	271